.hero {
    height: 100vh;
    background: linear-gradient(180deg, #47fdae, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* FIX */
    padding-left: 80px;
    padding-top: 100px; /* controlled spacing */
}

.hero-left h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 300px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-latest-btn img {
    filter: brightness(0) invert(1);
}