.newsletter {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
    padding: 0 20px;
    gap: 30px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.newsletter h1 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
    text-align: center;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 700px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}

.newsletter div button {
    width: 200px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
