.item {
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item p {
    margin: 6px 10px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}
